<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDo List</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center todoHeader">to-do list</h1>
				<hr>
				<h2>add to your list:</h2>
				<form class="todoForm input-group">
					<input class="form-control" type="text" placeholder="Task" name="task">
					<input class="form-control" type="text" placeholder="Description" name="description">
					<input class="form-control" type="submit">
				</form>
				<hr id="line">
			</div> <!-- end of to-do header -->
		</div> <!-- end of header row -->
		<!-- begining of handlebars -->
		<div class="todoList row">
			<script id="task-template" type="text/x-handlebars-template">
				\{{#each data}}
						<div class="col-md-8 col-md-offset-2 task" data-id=\{{_id}}>
							<button class="edit pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="delete pull-right"><span class="glyphicon glyphicon-trash"></span></button>
							<p class="todoText">\{{task}}</p>
							<p class="todoDescription"> -  \{{description}}</p>
							<form class="todoEdit input-group">
								<input class="form-control" type="text" placeholder="EditTask" name="task">
								<input class="form-control" type="text" placeholder="Edit Description" name="description">
								<input class="form-control" type="submit">
							</form>
						</div>
						<hr>
				\{{/each}}
			</script>
		</div>
	</div> <!-- end of container row -->

	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>